@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@* ViewLocalizer path is Resources.Pages.Index *@
@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Privacy policy"];
}
<h1>@ViewData["Title"]</h1>

<p>@SharedLocalizer["Privacy policy content"]</p>
